useDynLib(rforensicbatwing, .registration = TRUE)
import(Rcpp)
importFrom(Rcpp, evalCpp)
S3method(plot, forensicbatwing)
S3method(print, batwing)
importFrom("graphics", "plot")
importFrom("utils", "tail")
#exportPattern("^[[:alpha:]]+")
export(batwing)
export(coalmatchprob)
